doctype html
html 
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="css/style.min.css")
  title core
body 
  header.header 
    .header__container.container 
      .header__main 
        h2.header__title Header
        |
        |
        span.header__separator / 
        h2.header__logo Logo
      nav.header__nav 
        ul.header__nav-list 
          li.header__nav-item 
            a(href="#") NAVLINK1 
          li.header__nav-item
            a(href="#") NAVLINK2
          li.header__nav-item
            a(href="#") NAVLINK3
          li.header__nav-item
            a(href="#") NAVLINK4
      .header__breadcrumbs 
        ul.header__bc-list 
          li.header__bc-item
            a(href="#") Breadcrumbs1
          li.header__bc-item
            a(href="#") Breadcrumbs1
          li.header__bc-item
            a(href="#") Breadcrumbs1
  main.main 
    .main__container.container
      h1.main__title Heading level 1
      .main__body.devide-content 
        aside.filter
          h3.filter__title 26 Results Found
          .filter__body 
            form.filter__form(action="")
              .filter__crit.criterian
                h4.criterian__name Param 1
                .criterian__body 
                  input.criterian__checkbox(type="checkbox", name="param1")
                  input.criterian__checkbox(type="checkbox", name="param1")
                  input.criterian__checkbox(type="checkbox", checked, name="param1")
                  input.criterian__checkbox(type="checkbox", checked, name="param1")
                  input.criterian__checkbox(type="checkbox", name="param1")
              .filter__crit.criterian
                h4.criterian__name Param 2
                .criterian__body 
                  input.criterian__radio(type="radio", name="param2")
                  input.criterian__radio(type="radio", name="param2")
                  input.criterian__radio(type="radio", checked, name="param2")
              .filter__crit.criterian
                h4.criterian__name Param 3
                .criterian__body 
                  input.filter-form__number(type="number", name="para3min")
                  input.filter-form__number(type="number", name="para3max")
              .filter__crit.criterian
                h4.criterian__name Param 4
                .criterian__body 
                  input.criterian__text(type="text", name="param4")
        section.showcase  
          .showcase__actions 
            .showcase__controls
              button.showcase__prev-btn.button.white-btn &lt;
              .showcase__pages 
                button.showcase__page-btn.button.white-btn 1
                button.showcase__page-btn.button.white-btn 2
              button.showcase__next-btn.button.white-btn &gt;
            .showcase__sort Sort by
              select.showcase__sort-options
                option Point 1
                option Point 2
                option Point 3
          .showcase__products
            article.showcase__product.product
              .product__image 
              .product__information
                .product__title 
                .product__description 
                .product__tags  
              .product__price 
            article.showcase__product.product 
              .product__image 
              .product__information
                .product__title 
                .product__description 
                .product__tags  
              .product__price 
            article.showcase__product.product 
              .product__image 
              .product__information
                .product__title 
                .product__description 
                .product__tags  
              .product__price 
            article.showcase__product.product 
              .product__image 
              .product__information
                .product__title 
                .product__description 
                .product__tags  
              .product__price 
            article.showcase__product.product 
              .product__image 
              .product__information
                .product__title 
                .product__description 
                .product__tags  
              .product__price 
          .showcase__actions 
            .showcase__controls
              button.showcase__prev-btn.button.white-btn &lt;
              .showcase__pages 
                button.showcase__page-btn.button.white-btn 1
                button.showcase__page-btn.button.white-btn 2
              button.showcase__next-btn.button.white-btn &gt;
            .showcase__sort Sort by
              select.showcase__sort-options
                option Point 1
                option Point 2
                option Point 3
          .showcase__footer Footer information
  footer.footer 
    .footer__container.container
        h2.footer__title 
        .footer__body.devide-content
          .footer__info 
            .footer__location.contact-point
              .contact-point__logo
              .contact-point__info
            .footer__number.contact-point
              .contact-point__logo
              .contact-point__info 
            .footer__media
              .footer__icon
              .footer__icon
              .footer__icon
              .footer__icon
          .footer__text


