doctype html
html 
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  meta(name="keywords" content="<%= dataset.page_meta.meta_keywords %>")
  meta(name="description" content="<%= dataset.page_meta.meta_description %>")
  link(rel="stylesheet", href="css/style.min.css")
  link(rel="icon", href="assets/favicon.ico")
  title <%= dataset.page_meta.title %>
body 
  header.header 
    .header__container.container 
      .header__main 
        h3.header__title 
        | Header
        span.header__separator  /  
        h3.header__logo Logo
      nav.header__nav 
        ul.header__nav-list 
          li.header__nav-item 
            a(href="<%= dataset.nav[0].href %>") <%= dataset.nav[0].text %>
          li.header__nav-item
            a(href="<%= dataset.nav[1].href %>") <%= dataset.nav[1].text %>
          li.header__nav-item
            a(href="<%= dataset.nav[2].href %>") <%= dataset.nav[2].text %>
          li.header__nav-item
            a(href="<%= dataset.nav[3].href %>") <%= dataset.nav[3].text %>
      .header__breadcrumbs 
        ul.header__bc-list 
          li.header__bc-item
            a(href="<%= dataset.breadcrumbs[0].href %>") <%= dataset.breadcrumbs[0].text %>
          li.header__bc-item
            a(href="<%= dataset.breadcrumbs[1].href %>") <%= dataset.breadcrumbs[1].text %>
          li.header__bc-item
            a(href="<%= dataset.breadcrumbs[2].href %>") <%= dataset.breadcrumbs[2].text %>
  .content
    .content__container.container
      aside.filter 
        .filter__content
          h3.filter__title 26 Results Found
          .filter__body 
            form.filter__form(action="")
              .filter__crit.criterian#criterian-first
                .criterian__name 
                  h4.criterian__title Param 1
                  button(type='button').criterian__arrow 
                    img(src="./assets/svg/arrow.svg", alt="")
                .criterian__body 
                  label.criterian__checkbox-label(for="crit-checkbox-1")
                    input.criterian__checkbox#crit-checkbox-1(type="checkbox", name="param1")
                    span.criterian__square
                    span.criterian__text Value 1
                  label.criterian__checkbox-label(for="crit-checkbox-2")
                    input.criterian__checkbox#crit-checkbox-2(type="checkbox", name="param1")
                    span.criterian__square
                    span.criterian__text Value 2
                  label.criterian__checkbox-label(for="crit-checkbox-3")
                    input.criterian__checkbox#crit-checkbox-3(type="checkbox", checked, name="param1")
                    span.criterian__square
                    span.criterian__text Value 3
                  label.criterian__checkbox-label(for="crit-checkbox-4")
                    input.criterian__checkbox#crit-checkbox-4(type="checkbox", checked, name="param1")
                    span.criterian__square
                    span.criterian__text Value 4
                  label.criterian__checkbox-label(for="crit-checkbox-5")
                    input.criterian__checkbox#crit-checkbox-5(type="checkbox", name="param1")
                    span.criterian__square
                    span.criterian__text Value 5
              .filter__crit.criterian#criterian-second
                .criterian__name 
                  h4.criterian__title Param 2
                  button(type='button').criterian__arrow 
                    img(src="./assets/svg/arrow.svg", alt="")
                .criterian__body 
                  label.criterian__radio-label(for="crit-radio-1") 
                    input.criterian__radio#crit-radio-1(type="radio", name="param2")
                    span.criterian__circle
                    span.criterian__text Value 2_1
                  label.criterian__radio-label(for="crit-radio-2") 
                    input.criterian__radio#crit-radio-2(type="radio", name="param2")
                    span.criterian__circle
                    span.criterian__text Value 2_2
                  label.criterian__radio-label(for="crit-radio-3") 
                    input.criterian__radio#crit-radio-3(type="radio", checked, name="param2")
                    span.criterian__circle
                    span.criterian__text Value 2_3
              .filter__crit.criterian#criterian-third
                .criterian__name 
                  h4.criterian__title Param 3
                  button(type='button').criterian__arrow 
                    img(src="./assets/svg/arrow.svg", alt="")
                .criterian__body 
                  input.criterian__number(type="number", name="para3min", placeholder='min')
                  input.criterian__number(type="number", name="para3max", placeholder='max')
              .filter__crit.criterian#criterian-fourth
                .criterian__name 
                  h4.criterian__title Param 4
                  button(type='button').criterian__arrow 
                    img(src="./assets/svg/arrow.svg", alt="")
                .criterian__body 
                  input.criterian__text(type="text", name="param4", placeholder='Keyword')
              button.filter__submit.button SEARCH
      main.main 
        section.showcase  
          h1.showcase__title <%= dataset.page_meta.h1 %>
          .showcase__actions 
            .showcase__controls
              button.showcase__prev-btn.button &lt;
              .showcase__pages 
                button.showcase__page-btn.button 1
                button.showcase__page-btn.button.active-page 2
              button.showcase__next-btn.button &gt;
            .showcase__sort Sort by
              select.showcase__sort-options
                option(selected, disabled) Sort options
                option Point 1
                option Point 2
                option Point 3
          .showcase__products
            article.showcase__product 
              a(href="<%= dataset.stock[0].href %>").product
                img(src="./assets/img/<%= dataset.stock[0].image %>", alt="").product__image 
                .product__body
                  .product__information
                    h3.product__title <%= dataset.stock[0].title %>
                    .product__description Item Description: Made by <%= dataset.stock[0].make %>; <%= dataset.stock[0].model %> model; type: <%= dataset.stock[0].type %>; <%= dataset.stock[0].power %> <%= dataset.stock[0].power_measure %> power; <%= dataset.stock[0].payload %> payload; <%= dataset.stock[0].gross_weight %> grossweight.
                  .product__tags
                    .product__tag <%= dataset.stock[0].year %>
                    .product__tag <%= dataset.stock[0].mileage %> <%= dataset.stock[0].mileage_measure %>
                    .product__tag <%= dataset.stock[0].axle_configuration %>
                .product__price <%= dataset.stock[0].price_currency %> <%= dataset.stock[0].price %>
            article.showcase__product 
              a(href="<%= dataset.stock[1].href %>").product
                img(src="./assets/img/<%= dataset.stock[1].image %>", alt="").product__image 
                .product__body
                  .product__information
                    h3.product__title <%= dataset.stock[1].title %>
                    .product__description Item Description: Made by <%= dataset.stock[1].make %>; <%= dataset.stock[1].model %> model; type: <%= dataset.stock[1].type %>; <%= dataset.stock[1].power %> <%= dataset.stock[1].power_measure %> power; <%= dataset.stock[1].payload %> payload; <%= dataset.stock[1].gross_weight %> grossweight.
                  .product__tags
                    .product__tag <%= dataset.stock[1].year %>
                    .product__tag <%= dataset.stock[1].mileage %> <%= dataset.stock[1].mileage_measure %>
                    .product__tag <%= dataset.stock[1].axle_configuration %>
                .product__price <%= dataset.stock[1].price_currency %> <%= dataset.stock[1].price %>
            article.showcase__product 
              a(href="<%= dataset.stock[2].href %>").product
                img(src="./assets/img/<%= dataset.stock[2].image %>", alt="").product__image 
                .product__body
                  .product__information
                    h3.product__title <%= dataset.stock[2].title %>
                    .product__description Item Description: Made by <%= dataset.stock[2].make %>; <%= dataset.stock[2].model %> model; type: <%= dataset.stock[2].type %>; <%= dataset.stock[2].power %> <%= dataset.stock[2].power_measure %> power; <%= dataset.stock[2].payload %> payload; <%= dataset.stock[2].gross_weight %> grossweight.
                  .product__tags
                    .product__tag <%= dataset.stock[2].year %>
                    .product__tag <%= dataset.stock[2].mileage %> <%= dataset.stock[2].mileage_measure %>
                    .product__tag <%= dataset.stock[2].axle_configuration %>
                .product__price <%= dataset.stock[2].price_currency %> <%= dataset.stock[2].price %>
            article.showcase__product 
              a(href="<%= dataset.stock[3].href %>").product
                img(src="./assets/img/<%= dataset.stock[3].image %>", alt="").product__image 
                .product__body
                  .product__information
                    h3.product__title <%= dataset.stock[3].title %>
                    .product__description Item Description: Made by <%= dataset.stock[3].make %>; <%= dataset.stock[3].model %> model; type: <%= dataset.stock[3].type %>; <%= dataset.stock[3].power %> <%= dataset.stock[3].power_measure %> power; <%= dataset.stock[3].payload %> payload; <%= dataset.stock[3].gross_weight %> grossweight.
                  .product__tags
                    .product__tag <%= dataset.stock[3].year %>
                    .product__tag <%= dataset.stock[3].mileage %> <%= dataset.stock[3].mileage_measure %>
                    .product__tag <%= dataset.stock[3].axle_configuration %>
                .product__price <%= dataset.stock[3].price_currency %> <%= dataset.stock[3].price %>
            article.showcase__product 
              a(href="<%= dataset.stock[4].href %>").product
                img(src="./assets/img/<%= dataset.stock[4].image %>", alt="").product__image 
                .product__body
                  .product__information
                    h3.product__title <%= dataset.stock[4].title %>
                    .product__description Item Description: Made by <%= dataset.stock[4].make %>; <%= dataset.stock[4].model %> model; type: <%= dataset.stock[4].type %>; <%= dataset.stock[4].power %> <%= dataset.stock[4].power_measure %> power; <%= dataset.stock[4].payload %> payload; <%= dataset.stock[4].gross_weight %> grossweight.
                  .product__tags
                    .product__tag <%= dataset.stock[4].year %>
                    .product__tag <%= dataset.stock[4].mileage %> <%= dataset.stock[4].mileage_measure %>
                    .product__tag <%= dataset.stock[4].axle_configuration %>
                .product__price <%= dataset.stock[4].price_currency %> <%= dataset.stock[4].price %>
            article.showcase__product 
              a(href="<%= dataset.stock[5].href %>").product
                img(src="./assets/img/<%= dataset.stock[5].image %>", alt="").product__image 
                .product__body
                  .product__information
                    h3.product__title <%= dataset.stock[5].title %>
                    .product__description Item Description: Made by <%= dataset.stock[5].make %>; <%= dataset.stock[5].model %> model; type: <%= dataset.stock[5].type %>; <%= dataset.stock[5].power %> <%= dataset.stock[5].power_measure %> power; <%= dataset.stock[5].payload %> payload; <%= dataset.stock[5].gross_weight %> grossweight.
                  .product__tags
                    .product__tag <%= dataset.stock[5].year %>
                    .product__tag <%= dataset.stock[5].mileage %> <%= dataset.stock[5].mileage_measure %>
                    .product__tag <%= dataset.stock[5].axle_configuration %>
                .product__price <%= dataset.stock[5].price_currency %> <%= dataset.stock[5].price %>
          .showcase__actions 
            .showcase__controls
              button.showcase__prev-btn.button &lt;
              .showcase__pages 
                button.showcase__page-btn.button 1
                button.showcase__page-btn.button.active-page 2
              button.showcase__next-btn.button &gt;
            .showcase__sort Sort by
              select.showcase__sort-options
                option(selected, disabled) Sort options
                option Point 1
                option Point 2
                option Point 3
          .showcase__footer
            <%= dataset.page_text[0].tag %> <%= dataset.page_text[0].content %>
            <%= dataset.page_text[1].tag %> <%= dataset.page_text[1].content %>
            <%= dataset.page_text[2].tag %> <%= dataset.page_text[2].content %>
  footer.footer 
    .footer__container.container
      .footer__content
        .footer__title 
          h2.footer__logo Logo
          |
          |
          span.footer__separator /
          h2.footer__name Company name
        .footer__body
          .footer__info 
            .footer__contacts 
              .footer__location.contact-point
                .contact-point__logo
                  img(src="./assets/svg/location.svg", alt="")
                .contact-point__info
                  a(href="https://goo.gl/maps/JAjp4gPt8Nie2TfM6"). 
                    Company Adress: Lorem ipsum dolor sit amet
                    <br/>
                    18600, Netherlands
              .footer__number.contact-point
                .contact-point__logo
                  img(src="./assets/svg/phone.svg", alt="")
                .contact-point__info 
                  a(href="tel:+389587550000") +38 958 755-00-00 
            .footer__media
              .footer__icon
                a(href="https://www.facebook.com/") 
                  img(src="./assets/svg/facebook.svg", alt="")
              .footer__icon
                a(href="https://www.instagram.com/") 
                  img(src="./assets/svg/instagram.svg", alt="")
              .footer__icon
                a(href="https://twitter.com/") 
                  img(src="./assets/svg/twitter.svg", alt="")
              .footer__icon
                a(href="https://www.youtube.com/") 
                  img(src="./assets/svg/youtube.svg", alt="")
          .footer__texts
            p.footer__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet quos ullam atque accusantium ratione molestias soluta, provident nobis, assumenda dolorum voluptas incidunt inventore quia reiciendis quis. Quis quo molestias repellat.
      .footer__copyright 
        span © 2019
        span.footer__dash - 
        a(href="https://en.wikipedia.org/wiki/Privacy_policy") Privacy Policy
        span.footer__dash - 
        a(href="https://en.wikipedia.org/wiki/Terms_of_service") Terms and Conditions
