@import '_cleaning';
@import 'fonts';

:root {
  --blue: #56ccf2;
  --white: #ffffff;
  --bg-gray: #d9d9d9;
  --bg-disabled: #e0e0e0;
  --font-disabled: #828282;
  --nav-gray: #8d8d8d;
  --dark-gray: #333333;
  --text-gray: #828282;
  --light-gray: #c4c4c4;
  --footer-gray: #4f4f4f;
  --border-gray: #bdbdbd;
  --border-blue: #2d9cdb;
  --link-blue: #2f80ed;
  --link-hover: #56ccf2;
  --link-visited: #9B51E0;
}

@mixin font($size: 16px, $weight: 400, $height: 20px) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

html {
  scroll-behavior: smooth;
}

#transition-none * {
  transition: none !important;
}

//h1, h2, h3, h4
h1 {
  @include font(22px, 700, 26px);
}

h2 {
  @include font(20px, 700, 23px);
}

h3 {
  @include font(18px, 500, 21px);
}

h4 {
  @include font(16px, 500, 19px);
}

//h1, h2, h3, h4

//link
a {
  color: var(--link-blue);
  text-decoration: none;

  &:hover {
    color: var(--link-hover);
    text-decoration: underline;
  }

  &:visited {
    color: var(--link-visited);
    text-decoration: none;
  }
}

//link

//select, input:text, input:number
select,
input[type="text"],
input[type="number"] {
  height: 35px;
  padding: 7px 8px;
  border: 1px solid var(--border-gray);
  color: var(--text-gray);

  &:focus {
    color: var(--footer-gray);
    border: 1px solid var(--border-blue);
  }

  &:disabled {
    color: var(--font-disabled);
    background: var(--bg-disabled);
  }
}

//select, input:text, input:number

//button
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  width: 35px;
  height: 35px;
  transform: translate(0);
  @include font;
  transition: background 0.25s ease-out 0s, box-shadow 0.25s ease-out 0s, transform 0.25s ease-out 0s;

  &:hover {
    background: var(--blue);
    box-shadow: 0px 4px 6px 0px var(--dark-gray);
    transform: translateY(-4px);
  }

  &:active {
    background: var(--blue);
    box-shadow: 0px 2px 3px 0px var(--dark-gray);
    transform: translateY(-2px);
  }

  &:disabled {
    background: var(--bg-disabled);
  }
}

.active-page {
  background: var(--blue);
  box-shadow: 0px 2px 3px 0px var(--dark-gray);
  transform: translateY(-2px);
}

//button

.container {
  max-width: 1180px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header,
.content {
  font-family: Roboto;
  @include font;
  letter-spacing: 0;
  text-align: left;
}

.footer {
  font-family: Roboto;
  @include font(14px, 400, 16px);
  letter-spacing: 0;
  text-align: left;
}

// header 
.header {
  background: var(--bg-gray);

  &__container {
    padding-top: 40px;
  }

  &__main {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 16px;
    background: var(--white);
    margin-bottom: 20px;
  }

  &__nav {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 16px;
    background: var(--white);
    color: var(--nav-gray);
  }

  &__nav-list {
    display: flex;
    column-gap: 32px;
  }

  &__nav-item {
    display: inline;

    & a {
      color: var(--nav-gray);
    }
  }

  &__breadcrumbs {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 16px;
    @include font(12px, 400, 14px);
  }

  &__bc-list {
    display: flex;
  }

  &__bc-item {
    display: inline;

    &::after {
      content: '>';
      padding: 0 8px;
    }

    &:last-of-type::after {
      content: '';
    }
  }
}

// header 

//content
.content {
  background: var(--bg-gray);

  &__container {
    display: flex;
    column-gap: 20px;
  }
}

//content

//filter
.filter {
  flex: 0 0 270px;

  &__content {
    background: var(--white);
    padding: 16px;
    margin-top: 50px;
  }

  &__title {
    height: 48px;
    color: var(--dark-gray);
  }

  &__body {
    border-top: 1px solid var(--border-gray);
    padding-top: 8px;
  }

  &__submit {
    width: 100%;
    margin: 24px 0;
    background: var(--blue);
    color: var(--white);

    &:disabled {
      color: var(--bg-disabled);
    }
  }
}

.criterian {
  padding: 8px 0;

  &__name {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    color: var(--dark-gray);
  }

  &__arrow {
    background: none;
  }

  &__body {
    display: flex;
    gap: 8px;
  }

  &__number {
    width: 50%;
  }

  &__text {
    width: 100%;
  }
}

.checkbox {
  display: flex;
  width: 100%;
  align-items: center;
  cursor: pointer;

  &__square {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid var(--border-blue);
    margin-right: 8px;
    padding: 2px;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: var(--border-blue) url('../assets/svg/mark.svg') no-repeat center center;
      transform: scale(0);
      transition: transform 0.15s;
    }
  }

  &__input {
    display: none;
    margin-right: 8px;

    &:checked+.checkbox__square::before {
      transform: scale(1.5);
    }

    &:disabled+.checkbox__square {
      border: 1px solid var(--font-disabled);

      &::before {
        background: var(--white);
      }

      &+.criterian__text {
        color: var(--font-disabled);
      }
    }
  }
}

.radio {
  display: flex;
  width: 100%;
  align-items: center;
  cursor: pointer;

  &__circle {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid var(--border-blue);
    border-radius: 50%;
    margin-right: 8px;
    padding: 2px;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: var(--border-blue);
      border-radius: 50px;
      transform: scale(0);
      transition: transform 0.15s;
    }
  }

  &__input {
    display: none;
    margin-right: 8px;

    &:checked+.radio__circle::before {
      transform: scale(1);
    }

    &:disabled+.radio__circle {
      border: 1px solid var(--font-disabled);

      &+.criterian__text {
        color: var(--font-disabled);
      }
    }
  }
}

.input-number,
.input-text {
  font-family: Roboto;
  @include font;
  letter-spacing: 0;
}


#criterian-first,
#criterian-second {
  & .criterian__body {
    flex-direction: column;
  }
}

//filter

//showcase
.main {
  flex: 1 1 100%;
  width: 100%;
}

.showcase {
  width: 100%;

  &__title {
    height: 50px;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }

  &__controls {
    display: flex;
    column-gap: 16px;
  }

  &__pages {
    display: flex;
    column-gap: 16px;
  }

  &__sort-options {
    appearance: none;
    width: 207px;
    background: var(--white) url('../assets/svg/arrow.svg') no-repeat calc(100% - 8px) center;
    @include font;

    &:focus {
      background: var(--white) url('../assets/svg/focusedArrow.svg') no-repeat calc(100% - 8px) center;
    }
  }

  &__products {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin: 16px 0;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    max-width: 62.5%;
    margin: 24px 0;
  }
}

.product {
  display: flex;
  padding: 16px;
  background: var(--white);
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }

  &:visited {
    color: inherit;
    text-decoration: none;
  }

  &__image {
    flex: 0 0 25%;
    max-width: 224px;
    object-fit: cover;
  }

  &__body {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 16px;
  }

  &__title {
    padding-bottom: 7px;
  }

  &__description {
    @include font(14px, 300, 16px);
    color: var(--text-gray);
  }

  &__tags {
    display: flex;
    column-gap: 16px;
    align-self: left;
  }

  &__tag {
    padding: 5px;
    background: var(--light-gray);
    color: var(--white);
    @include font(12px, 300, 14px);
    text-align: center;
  }

  &__price {
    flex: 0 0 25%;
    text-align: right;
  }
}

//showcase

//footer
.footer {
  background: var(--bg-gray);

  &__content {
    background: var(--white);
    padding: 39px 0 24px;
  }

  &__title {
    padding: 0 16px 16px;
  }

  &__body {
    display: flex;
    column-gap: 20px;
    color: var(--footer-gray);
  }

  &__info {
    flex: 0 0 270px;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    row-gap: 16px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  &__location,
  &__number {
    &:hover {
      color: var(--link-hover);
    }
  }

  &__media {
    display: flex;
    column-gap: 12px;
  }

  &__texts {
    flex: 1 1 100%;
    width: 100%;
  }

  &__text {
    max-width: 62.5%;
  }

  &__dash {
    padding: 0 5px;
  }

  &__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
  }
}

.contact-point {
  display: flex;

  &__logo {
    margin-right: 10px;
  }

  &__info a {
    color: var(--footer-gray);
  }
}

//footer