@import '_cleaning';
@import 'fonts';

:root {
  --bg-gray: #d9d9d9;
  --bg-disabled: #e0e0e0;
  --font-disabled: #828282;
  --footer-gray: #4f4f4f;
  --dark-gray: #333333;
  --text-gray: #828282;
  --light-gray: #c4c4c4;
  --nav-gray: #8d8d8d;
  --border-gray: #bdbdbd;
  --border-blue: #2d9cdb;
  --white: #ffffff;
  --blue: #56ccf2;
  --link-blue: #2f80ed;
  --link-hover: #56ccf2;
  --link-visited: #9B51E0;
}

html {
  scroll-behavior: smooth;
}

#transition-none * {
  transition: none !important;
}

h1 {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

h2 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

h3 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

h4 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

a {
  color: var(--link-blue);
  text-decoration: none;

  &:hover {
    color: var(--link-hover);
    text-decoration: underline;
  }

  &:visited {
    color: var(--link-visited);
    text-decoration: none;
  }
}

select,
input[type="text"],
input[type="number"] {
  height: 35px;
  padding: 7px 8px;
  border: 1px solid var(--border-gray);
  color: var(--text-gray);

  &:focus {
    color: var(--footer-gray);
    border: 1px solid var(--border-blue);
  }

  &:disabled {
    color: var(--font-disabled);
    background: var(--bg-disabled);
  }
}

.container {
  max-width: 1180px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  width: 35px;
  height: 35px;
  transform: translate(0);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  transition: background 0.25s ease-out 0s, box-shadow 0.25s ease-out 0s, transform 0.25s ease-out 0s;

  &:hover {
    background: var(--blue);
    box-shadow: 0px 4px 6px 0px var(--dark-gray);
    transform: translateY(-4px);
  }

  &:active {
    background: var(--blue);
    box-shadow: 0px 2px 3px 0px var(--dark-gray);
    transform: translateY(-2px);
  }

  &:disabled {
    background: var(--bg-disabled);
  }
}

.active-page {
  background: var(--blue);
  box-shadow: 0px 2px 3px 0px var(--dark-gray);
  transform: translateY(-2px);
}

.header,
.content {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}

.footer {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
}

// header 
.header {
  background: var(--bg-gray);

  &__container {
    padding-top: 40px;
  }

  &__main {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 16px;
    background: var(--white);
    margin-bottom: 20px;
  }

  &__title {}

  &__separator {
    padding: 0 5px;
  }

  &__logo {}

  &__nav {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 16px;
    background: var(--white);
    color: var(--nav-gray);
  }

  &__nav-list {
    display: flex;
    column-gap: 32px;
  }

  &__nav-item {
    display: inline;

    & a {
      color: var(--nav-gray);
    }
  }

  &__breadcrumbs {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
  }

  &__bc-list {
    display: flex;
  }

  &__bc-item {
    display: inline;

    &::after {
      content: '>';
      padding: 0 8px;
    }

    &:last-of-type::after {
      content: '';
    }
  }
}

// header 

//content
.content {
  background: var(--bg-gray);

  &__container {
    display: flex;
    column-gap: 20px;
  }
}

//content

//filter
.filter {
  flex: 0 0 270px;

  &__content {
    background: var(--white);
    padding: 16px;
    margin-top: 50px;
  }

  &__title {
    height: 48px;
    color: var(--dark-gray);
  }

  &__body {
    border-top: 1px solid var(--border-gray);
    padding-top: 8px;
  }

  &__form {}

  &__crit {}

  &__submit {
    width: 100%;
    margin: 24px 0;
    background: var(--blue);
    color: var(--white);

    &:disabled {
      color: var(--bg-disabled);
    }
  }
}

.criterian {
  padding: 8px 0;

  &__name {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    color: var(--dark-gray);
  }

  &__title {}

  &__arrow {
    background: none;
  }

  &__body {
    display: flex;
    gap: 8px;
  }

  &__checkbox {
    margin-right: 8px;
  }

  &__checkbox-label,
  &__radio-label {
    display: flex;
    width: 100%;
    align-items: center;
    cursor: pointer;
  }

  &__square {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid var(--border-blue);
    margin-right: 8px;
    padding: 2px;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: var(--border-blue) url('../assets/svg/mark.svg') no-repeat center center;
      transform: scale(0);
      transition: transform 0.15s;
    }
  }

  &__checkbox {
    display: none;
    margin-right: 8px;

    &:checked+.criterian__square::before {
      transform: scale(1.5);
    }

    &:disabled+.criterian__square {
      border: 1px solid var(--font-disabled);

      &::before {
        background: var(--white);
      }

      &+.criterian__text {
        color: var(--font-disabled);
      }
    }
  }

  &__circle {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid var(--border-blue);
    border-radius: 50%;
    margin-right: 8px;
    padding: 2px;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: var(--border-blue);
      border-radius: 50px;
      transform: scale(0);
      transition: transform 0.15s;
    }
  }

  &__radio {
    display: none;
    margin-right: 8px;

    &:checked+.criterian__circle::before {
      transform: scale(1);
    }

    &:disabled+.criterian__circle {
      border: 1px solid var(--font-disabled);

      &+.criterian__text {
        color: var(--font-disabled);
      }
    }
  }

  &__number {
    width: 50%;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;

  }

  &__text {
    width: 100%;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;

  }
}

#criterian-first {
  & .criterian__body {
    flex-direction: column;
  }
}

#criterian-second {
  & .criterian__body {
    flex-direction: column;
  }
}

#criterian-third {}

#criterian-fourth {}

//filter

//showcase
.main {
  flex: 1 1 100%;
  width: 100%;
}

.showcase {
  width: 100%;

  &__title {
    height: 50px;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }

  &__controls {
    display: flex;
    column-gap: 16px;
  }

  &__prev-btn {}

  &__pages {
    display: flex;
    column-gap: 16px;
  }

  &__page-btn {}

  &__next-btn {}

  &__sort {}

  &__sort-options {
    appearance: none;
    width: 207px;
    background: var(--white) url('../assets/svg/arrow.svg') no-repeat calc(100% - 8px) center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;

    &:focus {
      background: var(--white) url('../assets/svg/focusedArrow.svg') no-repeat calc(100% - 8px) center;
    }
  }

  &__products {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin: 16px 0;
  }

  &__product {}

  &__footer {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    max-width: 62.5%;
    margin: 24px 0;
  }
}

.product {
  display: flex;
  padding: 16px;
  background: var(--white);

  &__image {
    flex: 0 0 25%;
    width: 224px;
    height: 168px;
    background: var(--bg-gray);
  }

  &__body {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 16px;
  }

  &__information {}

  &__title {
    padding-bottom: 7px;
  }

  &__description {
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    color: var(--text-gray);
  }

  &__tags {
    display: flex;
    column-gap: 16px;
    align-self: left;
  }

  &__tag {
    padding: 5px;
    background: var(--light-gray);
    color: var(--white);
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    text-align: center;
  }

  &__price {
    flex: 0 0 25%;
    text-align: right;
  }
}

//showcase

//footer
.footer {
  background: var(--bg-gray);

  &__container {}

  &__content {
    background: var(--white);
    padding: 39px 0 24px;
  }

  &__title {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    padding: 0 16px 16px;
  }

  &__logo {}

  &__separator {}

  &__name {}

  &__body {
    display: flex;
    column-gap: 20px;
    color: var(--footer-gray);
  }

  &__info {
    flex: 0 0 270px;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    row-gap: 16px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  &__location,
  &__number {
    &:hover {
      color: var(--link-hover);
    }
  }

  &__media {
    display: flex;
    column-gap: 12px;
  }

  &__icon {}

  &__texts {
    flex: 1 1 100%;
    width: 100%;
  }

  &__text {
    max-width: 62.5%;
  }

  &__dash {
    padding: 0 5px;
  }

  &__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
  }
}

.contact-point {
  display: flex;

  &__logo {
    margin-right: 10px;
  }

  &__info a {
    color: var(--footer-gray);
  }
}

//footer